*, *::before , ::after{
    box-sizing: border-box;
    
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #622f22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}

.grid-container {
    width: 800px;
    max-width: 80%;
    background-color: #f3e3c3; 
    padding: 10px;
    border-radius: 5px;
   
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn{
    border: 2px solid green;
    border-radius: 5px;
}

.btn:hover{
    border-color: black;
}

@media (min-width: 481px) and (max-width: 1200px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
        font-size: 1rem;
        background-color: #a86632;
    }

    .btn-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 20px;
        font-size: 1rem;
    }

    .btn{
        border: 2px solid green;
        border-radius: 5px;
        font-size: 1rem;
        height: 20vh;
    }

  }
